h1{        left: 50%;
    position: absolute;
    transform: translateX(-50%);
    display: inline-block;
    margin: 10px;
    font-size: 80px;
    color: hsla(198, 94%, 80%, 1); }
#cover{width: 100%; position: absolute;height: 200%;top: 0px;left: 0px;background: white; transition: all 03s;z-index: 9999}
.title_image{    background: url(happy.gif);
    width: 100%;
    height: 380px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 45%;}
 .navigation{    width: 100%;
    background: #be0000;
    z-index: 20;
    position: relative;
    height: 40px;}
.navigation_container{margin:0 auto; width:500px; position: relative;}
.navigation a.active{background: #f42528;}
.navigation a:hover{background: hsla(375, 90%, 70%, 1);}
.navigation a.active:hover::after{border-color: hsla(375, 90%, 70%, 1) transparent transparent transparent;}
.navigation .active::after{content: "";
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #f42528 transparent transparent transparent;}
.navigation a{width: 32%;
    display: inline-block;
    background: #be0000;
    position: relative;
    height: 40px;}
span{    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    color: #fff001;
    cursor: pointer;
}
.navigation a:hover{opacity: 0.8;}
#content1 div span > ul{ color: #ed6c02;
	 width: 100%;
    position: relative;
    left: 100%;}
.content.active{display:initial;}
.content.active div span{opacity: 1; z-index: 10;}
.content div span{ z-index:1;background-repeat: no-repeat;background-position: 0;transition: all 0.5s;opacity: 0;cursor: initial;padding:0 10px;margin-top:30px;width:100%;transform:initial;display:inline-block; top: 0px; left: 0px; position: relative; background: blue
}
.content div{width: 80%; margin: 0 auto; height: 0px;}
#content1 div span{    
    background-size: contain;
    height: 490px;
    background: url(img1.png) no-repeat 0;
    background-position: -150px;
    width: 450px;}
#content2 div span{background-size:cover;height:850px;background: url("img2.png") no-repeat 0}
#content3 div span{background:black; overflow: hidden;}
#content3 div span span{background: initial;
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
    letter-spacing: 4px;
    line-height: 45px;
    animation: increse 10s infinite;
}
#content4 div span{background-size:cover;height:300px;background: url("img4.png") no-repeat 0}

#content2 ul ul > li:hover{color: blue;}

#content2 ul ul ul ul li:hover{color: green; cursor: pointer;}

.sticky{position: fixed; top:0px;margin-bottom: 20px;}

.inc{
  animation: increase 2s infinite;
}
.fade {
  position: relative;
  width: 100%;
  min-height: 40vh;
  background-image: linear-gradient(0deg, transparent, black 75%);
  z-index: 1;
}
.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  height: 700px;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 250%;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 400px;
  text-align: justify;
}
#player{padding:20px;}
#player audio{position: relative;
    z-index: 19;
    left: 50%;
    transform: translateX(-50%);}

.crawl {
  position: relative;
  top: 99999px;
  transform-origin: 20% 100%;
  animation: crawl 40s infinite;
  animation-timing-function: cubic-bezier(0.5, 0.57, 0.99, 1.12);
}

.crawl > .title {
  font-size: 90%;
  text-align: center;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
    0% {
    top: -100px;
    transform: rotateX(18deg)  translateZ(0);
  }
    100% { 
    top: -6000px;
    transform: rotateX(22deg) translateZ(-2500px);
  }
}

@keyframes increase {
   from { top: 0%; }
   to { top: 1000%; }
}
#content1 ul{font-size: 28px; width:150%;}
h3{font-size: 38px; margin-top: 0px;}

@media only screen and (max-width:767px){
  #content1 ul{width: 100%;display: block;text-align: center;padding: 0px;}
  #content1 div span{width: 100%;background-position: center;}
  h1{width: 80%;}
}
